TEMA_1_INTRODUCCION_A_LOS_LENGUAJES_DE_MARCAS. XML/Examen XSD, DTD/Ejercicio_2/ej2.dtd

<!ELEMENT Libro (Titulo,Seccion,Contenido,Copyright)>
<!ATTLIST Libro Catalogo NMTOKEN #REQUIRED>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Seccion (#PCDATA)>
<!ELEMENT Contenido (Capitulo,Separacion)>
<!ELEMENT Capitulo (Tema)>
<!ATTLIST Capitulo materia NMTOKEN #REQUIRED>
<!ELEMENT Tema (#PCDATA)>
<!ELEMENT Separacion EMPTY>
<!ELEMENT Copyright (#PCDATA)>